body, html {
    height: 100%;
    margin:0;
}
.content {
    min-height: 100%;
}
.content-inside {
    padding:20px;
    padding-bottom:50px;
}
.footer {
    height: 50px;
    margin-top: -50px;
    display: flex;
    background-color:rgba(0,0,0,0.04);
    justify-content: space-between;
    padding-left: 20px;
    padding-right:20px
}
#navbar {
    list-style-type: none;
    position:absolute;
    height: 48px;
    top: 18px;
    padding: 0px;
    margin: 0px;
    right: 18px;
}
#navbar a {
    text-decoration: none;
}
#navbar li {
    display:inline-block;
    vertical-align: middle;
}
#navbar-link{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    vertical-align: top;
    margin: 5px;
    color:rgb(31, 30, 30);
}
#navbar-link:hover {
    text-decoration: underline;
}
#strange-thing{
    padding:8px;
    display: grid;
    height: 16px;
    width: 16px;
    grid-template-columns:4px 4px 4px;
    grid-template-rows: 4px 4px 4px;
    grid-gap: 2px 2px;
    margin-left:12px;
    margin-right:12px;
}
#strange-thing > div {
    background-color: #524f4f;
    border-radius: 50%;
}
#strange-thing:hover {
    background-color: hsl(0, 0%, 95%);
    border-radius: 50%;
}
#sign-in-button {
    font-family:Helvetica,Arial,sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    padding: 11px 24px;
    background-color: #1a73e8;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: .25px;
    text-align: center;
    vertical-align: top;
    color:white;
}
#sign-in-button:hover {
    opacity: 0.9;
}
#logo {
    display:flex;
    flex-direction:row-reverse;
    width: 100%;
    justify-content: center;
    align-items:flex-end;
    min-height: 92px;
    height:28vh;
    margin-top:2vh;
}
#search-bar {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    margin-top: 3.5vh;
    width: 100%;
}
#search-bar input {
    width: 542px;
    box-sizing: border-box;
    padding:0px 40px;
    border-radius: 30px;
    outline: none;
    height:3em;
    border:1px solid;
    border-color:rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
#search-bar input:hover {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.07),0 1px 3px 1px rgba(0,0,0,0.07);
}
#search-bar img {
    width: 35px;
    height: 35px;
    display: block;
    mix-blend-mode: multiply;
    margin-right: -40px;
    margin-bottom: -5px;
    margin-top: 7px;
    opacity: 0.7;
}
#search-buttons {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 29px;
    display:flex;
    position:relative;
}
#search-buttons input{
    margin:0px 5px;
    border: 1px solid;
    border-color: transparent;
    height:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius:4px;
    padding-left: 10px;
    padding-right: 10px;
}
#search-buttons input:hover {
    border-color:rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.07),0 1px 3px 1px rgba(0,0,0,0.07);
    cursor: pointer;
}
#empty-area {
    display: flex;
    position:relative;
    margin-top:30px;
    justify-content: center;
}
#empty-area p {
    align-self: flex-start;
    font-size:small;
    margin:0;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1px;
}
#empty-area a:hover {
    text-decoration: underline!important;
}
.footer-links {
    display: flex;
    flex-direction: row;
}
.footer-links a {
    padding:14px;
    padding-top:20px;
    font-size:14px;
    color:rgba(0,0,0,.54);
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: nowrap;
    text-decoration: none;
}
.footer-links a:hover {
    text-decoration: underline;
}